/* Основные стили для всего документа */
body {
    font-family: Arial, sans-serif; /* Шрифт для всего текста на странице */
    background-color: #ffffff; /* Фоновый цвет страницы */
}


/* Шапка сайта */
header {
    background-color: #007bff; /* Синий фон для шапки */
    color: #fff; /* Белый текст */
    padding: 1px 1px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Устанавливаем ширину на всю доступную ширину экрана */
    position: fixed; /* Закрепляем шапку в верхней части экрана */
    top: 0; /* Располагает шапку в верхней части экрана */
    left: 0; /* Устанавливает шапку в левый край экрана */

}


/* Контейнер для основного содержимого */
.container {
    width: 80%; /* Ширина контейнера составляет n% от ширины окна браузера */
    margin: 100px auto; /* Отступ сверху и снизу по n px, центрирование контейнера по горизонтали */
    padding: 20px; /* Отступы внутри контейнера */
    background-color: rgb(255, 255, 255); /* Фон */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Тень*/
    border-radius: 8px; /* Скруглённые углы контейнера с радиусом */
}

/* Стили для кнопок в группе */
.button-group button {
    background-color: #007bff; /* Синий цвет фона кнопки */
    color: #fff; /* Белый цвет текста на кнопке */
    border: none; /* Без границ вокруг кнопки */
    border-radius: 5px; /* Скруглённые углы кнопки с радиусом 5px */
    padding: 10px 20px; /* Внутренние отступы кнопки: 10px сверху и снизу, 20px справа и слева */
    margin-right: 10px; /* Отступ справа от кнопки */
    cursor: pointer; /* Указатель мыши в виде руки при наведении на кнопку */
    font-size: 16px; /* Размер шрифта на кнопке */
}

/* Эффект при наведении на кнопку */
.button-group button:hover {
    background-color: #0056b3; /* Изменение цвета фона кнопки при наведении */
}

.button-group {
    display: flex; /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    justify-content: space-between; /* Распределение элементов по ширине контейнера */
    margin-bottom: 20px; /* Отступ снизу для разделения от других элементов */
}

/* Стили для таблицы */
table {
    width: 100%; /* Таблица занимает n% ширины контейнера */
    border-collapse: collapse; /* Удаляет границы между ячейками таблицы */
    margin-top: 10px; /* Отступ сверху таблицы */
}

/* Стили для ячеек таблицы */
th, td {
    padding: 12px; /* Внутренние отступы для ячеек: 12px со всех сторон */
    text-align: left; /* Выравнивание текста по левому краю */
    border-bottom: 1px solid #ddd; /* Нижняя граница ячейки с серым цветом и толщиной 1px */
}

/* Стили для заголовков таблицы */
th {
    background-color: #f2f2f2; /* Светло-серый фон для заголовков таблицы */
}

/* Стили для строк таблицы */
/* Применяется стиль класса при наведении за счет hover */
tr.directory:hover {
    background-color: #007bff; /* Более насыщенный цвет при наведении на директорию */
    cursor: pointer; /* Указатель мыши в виде руки при наведении */
}


.current-path{
    text-align: center; /* Выравнить текст по центре */
    padding: 3px; /* Внутренние отступы */
    background-color: #f0f0f0; /* Светло-серый фон для блока пути */
    border: 1px solid #ddd; /* Граница вокруг блока пути */
    border-radius: 4px; /* Скруглённые углы блока пути */
}

/* Стили для подвала */
footer {
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    text-align: center; /* Выравнить текст по центр */
}

/* Стили для текста сортировки */
.sort-slider {
    padding: 20px; /* Поля вокруг текста */
    display: flex; /* Используем Flexbox для выравнивания элементов по горизонтали */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: flex-end; /* Выравнивание элементов по правому краю */

}

/* Ползунок сортировки */
.sort-slider input[type="range"] {
    margin: 10px; /* Убираем внешние отступы у ползунка */
    width: 30px; /* Ширина ползунка */

}

